body {
  font-family: arial;
  font-size: 14px;
}

.Home {
  text-align: center;
}

.Home-intro {
  text-align: left;
}

.VideoBlock {
  display: inline-block;
  border: solid 1px #AAA;
  position: relative;
  vertical-align: top;
}

.VideoBlock > video {
  display: block;
  border-bottom: dashed 1px #AAA;
}

.VideoBlock-cornerBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}



.SubtitlesBox {
  background: rgba( 0, 0, 0, 0.5 );
  color: white;
  font-size: 13px;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: left;
}

.SubtitlesBox-inner {
  margin-left: 0px;
  transition: margin-left 0.5s;
}

.TimeTicker {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: rgba( 0, 0, 0, 0.5 );
  font-family: monospace;
}

/* TODO: Split */
.RecordingOptionsBox {
  padding: 1px 3px;
  font-size: 12px;
}

.RecordingOptionsBox .ROB-time {
  display: inline-block;
  width: 3em;
  font-size: 11px;
  padding: 0 3px;
  font-family: monospace;
  text-align: right;
}

.RecordingOptionsBox .ROB-button {
  padding: 0px 3px;
}

button {
  width: 100%;
}
