body {
  font-family: arial;
}

.Home {
  text-align: center;
}

.Home-intro {
  font-size: large;
}

.VideoBlock {
  display: inline-block;
  border: solid 1px #AAA;
  position: relative;
  vertical-align: top;
}

.VideoBlock > video {
  display: block;
  border-bottom: dashed 1px #AAA;
}

.VideoBlock-cornerBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.SubtitlesBox {
  background: rgba( 0, 0, 0, 0.5 );
  color: white;
  font-size: 13px;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: left;
}

.SubtitlesBox-inner {
  margin-left: 0px;
  transition: margin-left 0.5s;
}

button {
  width: 100%;
}
